body {
  font-family: "Inter Regular";
}

.brand-logo {
  font-size: 1.2em !important;
}

.nav-wrapper {
  background-color: #7E34F7;
  border-radius: 5px !important;
}

nav {
  height: 2em;
  line-height: 2em;
  border-radius: 5px !important;
}

.img1 {
  width: 40vw;
  min-width: 300px;
}

.materialboxed {
  padding-top: 2em;
}

.materialboxed {
  margin: 0 auto;
  position: relative !important;
}

.circle {
  width: 3em !important;
  height: 3em !important;
}

#avatar {
  padding-left: 5.5%;
}


#comment_text {

  box-sizing: border-box;

  height: 2em;
  transform: translate(0px, 0.7em);
  width: 40vw;
  font-family: inherit;

  background: #ffffff;
  border: 1px solid #101010;
  border-radius: 2px;
}

#comment_text::placeholder {
  color: #8A8F9C
}


.btn, .btn:hover {
  transform: translate(0px, 0.5em);
  font-family: inherit !important;
  background-color: #7E34F7;
  text-transform: unset !important;
  width: 7em;
  font-size: 1rem;
  border-radius: 5px;
  height: 2.5em;
}

.discussion_heading {
  transform: translate(4vw, 0vw);
}

.a_line_break {
  text-align: center;
  margin-left: 6.0%;
  margin-right: 18%;
  border: 1px solid #E5E5E5;
}